@import "tailwindcss";

@source "./app/**/*.{html,ts}";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-indigo-600: #4f46e5;
  --color-cyan-500: #06b6d4;
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

/* Regras globais de layout */
html, body {
  height: 100%;
}

body {
  @apply bg-white dark:bg-slate-950 text-slate-900 dark:text-slate-100 transition-colors duration-300;
}
/* src/styles.css */
html {
  scroll-behavior: smooth !important;
}